# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

src/src.kdev4

# GNSS solutions
*.sp3
*.clk
*.snx

# GNSS data
*.[cr]nx

# data directories in examples
examples/*
examples/*.gz
examples/*.bz2
# to be fixed in future release
examples/DE.430
#symbolic links to yaml files (as yml)
examples/*.yml
#symbolic link to executables
examples/pea
examples/ginan
# pod output records
examples/*.out
examples/examples.zip

examples/GinanYamlInspector.html

Docs/
# ignore cmake build and ide files
*.kdev4
src/.kdev/
src/build/
bin/
lib/

# ignore latex artifacts
docs/manual/*.log
docs/manual/*.aux
docs/manual/*.out
docs/manual/*.lot
docs/manual/*.pdf
docs/manual/*.idx
docs/manual/*.lof
docs/manual/*.gz
docs/manual/*.acn
docs/manual/*.acr
docs/manual/*.alg
docs/manual/*.bcf
docs/manual/*.glg
docs/manual/*.glo
docs/manual/*.gls
docs/manual/*.glsdefs
docs/manual/*.ist
docs/manual/*.run.xml
docs/manual/*.toc
docs/manual/main.ilg
docs/manual/main.ind
docs/manual/main.lol
docs/manual/*.fls
docs/manual/*.fdb*
docs/manual/*.fdb*
docs/manual/*.bbl
docs/manual/*.blg
docs/manual/build

docs/html/
docs/DoxygenLayout.xml
docs/Doxyfile

Docs/codeDocs/*

Docs/*.html

*.kate-swp



*.swp
# Node artifact files
node_modules/
dist/
package-lock.json
package.json


# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# gn_lib pip installation files
*.egg-info/

# Log files
*.log

# Package files
*.jar

# Maven
target/
dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.png

# vscode settings
.vscode/
build/
# visual studio file/settings
src/CMakeSettings.json
src/CMakeFiles/
.vs/

# remove commitversion.h
src/cpp/pea/peaCommitVersion.h
src/build/
src/cmake-*
src/build*

# folder for test files (shouldn't be uploaded)
scratch
