<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ginan UI Prototype - Status</title>

    <!-- Booststrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Our styling, here as a temporary solution -->
    <style>
        body {
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        main {
            min-height: 80vh;
        }
        footer {
            margin-top: auto;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/static/GLogovWonAlpha.svg" alt="Ginan 'G' Logo" style="height:3ex">Ginan</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="/status">Status</a></li>
                <li class="nav-item"><a class="nav-link" href="/newjob">Job Submission</a></li>
                <li class="nav-item"><a class="nav-link" href="/plots">Plots</a></li>
                <li class="nav-item"><a class="nav-link" href="/map">Map</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <table id="jobtable" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Command</th>
                    <th scope="col">Job Name</th>
                    <th scope="col">ID</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </main>
    <footer class="pt-3 text-muted border-top">
        <p>Ginan</p>
    </footer>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <!-- Our code -->
    <script>
        async function refreshJobTable(jobAPIURL, tBodyElement, refreshTime_ms = -1) {
            const response = await fetch(jobAPIURL);
            const jobStatuses = await response.json();
            // Clear the rows from the existing table
            while (tBodyElement.rows.length > 0) {
                tBodyElement.deleteRow(-1);
            }
            for (const job of jobStatuses) {
                const newRow = tBodyElement.insertRow();
                // Populate status cell
                const statusCell = newRow.insertCell();
                const statusContent = document.createTextNode(job.status);
                statusCell.appendChild(statusContent);
                // Populate command cell
                const commandCell = newRow.insertCell();
                const commandContent = document.createTextNode(job.command);
                commandCell.appendChild(commandContent);
                // Populate name cell
                const nameCell = newRow.insertCell();
                const nameContent = document.createTextNode(job.name);
                nameCell.appendChild(nameContent);
                // Populate ID cell
                const idCell = newRow.insertCell();
                const idContent = document.createTextNode(job.id);
                idCell.appendChild(idContent);
                // Populate link cell
                const linkCell = newRow.insertCell();
                const detailLink = document.createElement("a");
                detailLink.setAttribute("href", "/status/" + job.id);
                detailLink.setAttribute("class", "link-primary px-1");
                detailLink.appendChild(document.createTextNode("details"));
                const plotLink = document.createElement("a");
                plotLink.setAttribute("href", `/plots?mongodb=mongo-for-${job.id}-goes-here`);
                plotLink.setAttribute("class", "link-secondary px-1");
                plotLink.appendChild(document.createTextNode("plots"));
                const mapLink = document.createElement("a");
                mapLink.setAttribute("href", `/map?mongodb=mongo-for-${job.id}-goes-here`);
                mapLink.setAttribute("class", "link-secondary px-1");
                mapLink.appendChild(document.createTextNode("map"));
                idCell.appendChild(detailLink);
                idCell.appendChild(plotLink);
                idCell.appendChild(mapLink);
            }
            if (refreshTime_ms >= 0) {
                setTimeout(refreshJobTable, refreshTime_ms, jobAPIURL, tBodyElement, refreshTime_ms);
            }
        }
        const jobTableElement = document.getElementById("jobtable");
        const jobTBodyElement = jobTableElement.tBodies[0];
        refreshJobTable("/api/jobs?details=true", jobTBodyElement, 3000);

    </script>
</body>

</html>