{% extends 'base.jinja'%}



{% block title%}
Orbits
{% endblock %}


    {% if selection is not defined%}
      {% set selection = {} %}
      {% set _ = selection.__setitem__("orbitType",    "Residual RTN") %}
      {% set _ = selection.__setitem__("sat",     "*") %}
      {% set _ = selection.__setitem__("series",  "*") %}
    {% endif %}

{% block menuselection %}
<form method="post" class="row g-5" role="form" onsubmit="return validateForm()">
  <div class="col-lg-1">
    <label for="type" class="form-label">Type:</label>
    <br>
    <select class="selectpicker form-control" name="orbitType" id="orbitType" data-container="body"
      data-live-search="true" title="Select type">
      {% for type_ in extra['orbitType'] %}
      {% if selection is defined and selection['orbitType']|length and type_ in selection['orbitType']%}
      <option value="{{type_}}" SELECTED>{{type_}}</option>"
      {%else%}
      <option value="{{type_}}">{{type_}}</option>"
      {%endif%}
      {% endfor %}
    </select>
  </div>
  <div class="col-lg-2">
    <label for="type" class="form-label">Series:</label>
    <br>
    <select multiple class="selectpicker form-control" name="series" id="series" data-container="body"
      data-live-search="true" title="Select type">
      {% for series_ in session['list_measurements_series'] %}
      {% if selection is defined and selection['series']|length and series_ in selection['series'] or "*" in selection['series'] %}
      <option value="{{series_}}" SELECTED>{{series_}}</option>"
      {%else%}
      <option value="{{series_}}">{{series_}}</option>"
      {%endif%}
      {% endfor %}
    </select>
  </div>

  <div class="col-lg-2">
    <label for="sat" class="form-label">Satellite:</label>
    <br>
    <select multiple class="selectpicker form-control" name="sat" id="sat" data-container="body" data-live-search="true"
      title="Select satellite" data-hide-disabled="true" data-actions-box="true" data-virtual-scroll="false"> {% for
      sat_ in session['list_sat'] %}
      {% if selection is defined and selection['sat']|length and sat_ in selection['sat'] or "*" in selection['sat'] %}
      <option value="{{sat_}}" SELECTED>{{sat_}}</option>"
      {%else%}
      <option value="{{sat_}}">{{sat_}}</option>"
      {%endif%}
      {% endfor %}
    </select>
  </div>


  <div class="col-lg-1">
    <label for="exclude">Exclude first (min):</label>
    <input type="text" class="form-control" id="exclude" name="exclude" placeholder="exclude" {% if selection is defined
      and selection['exclude'] %}value="{{ selection['exclude'] }}" {% endif %}>
  </div>

  <div class="col-lg-1">
    <label for="exclude">Exclude last (min):</label>
    <input type="text" class="form-control" id="exclude_tail" name="exclude_tail" placeholder="exclude_tail" {% if
      selection is defined and selection['exclude_tail'] %}value="{{ selection['exclude_tail'] }}" {% endif %}>
  </div>

  <input type="submit" value="PLOT">
</form>




{% block scripts %}


<script>
  function notSelectedValue(fieldId, missingField) {
    var field = document.getElementById(fieldId);
    var selectedIndex = field.selectedIndex;
    console.log("selectedIndex: " + selectedIndex + " for fieldId: " + fieldId);
    // Check if the field is a single-selection dropdown
    if (field.getAttribute('multiple') === null) {
      // For single-selection dropdown, check if selectedIndex is 0 or -1
      if (selectedIndex === 0 || selectedIndex === -1) {
        missingField.push(fieldId);
      }
    } else {
      // For multiple-selection dropdown, check if selectedIndex is -1
      if (selectedIndex === -1) {
        missingField.push(fieldId);
      }
    }
  }

  function validateForm() {
    var missingField = []; // Array to store the empty fields

    // Check if a value is selected in each field
    notSelectedValue('orbitType', missingField);
    notSelectedValue('series_base', missingField);
    notSelectedValue('series', missingField);
    notSelectedValue('sat', missingField);
    console.log(missingField)
    if (missingField.length > 0) {
      var errorMessage = 'Please select a value in the following fields:\n\n';
      for (var i = 0; i < missingField.length; i++) {
        errorMessage += '- ' + missingField[i] + '\n';
      }
      alert(errorMessage);
      return false; // Prevent form submission
    }

    return true; // Allow form submission
  }
</script>
{% endblock %}
{% endblock %}
