awscli>=1.27.34
scikit-learn>=0.0
dash>=2.7.1
plotly>=5.3.1
tqdm>=4.64.0  #useful for long processing sessions
unlzw3~=0.2.2
plotext>=4.2
requests_oauthlib>=1.3.1
werkzeug>=2.2.2
requests>=2.27.1
numpy>=1.21.6 # don't care of specific numpy and pandas versions
pandas>=1.1.0 #MongoDash required version
matplotlib>=3.5.2
ruamel.yaml>=0.17.21
boto3
# ipython==7.5.0 
# notebook>=5.3  
# ipywidgets>=7.2 
pymongo>=3.7.2 
pytest>=7.1.2
scipy>=1.7.3
statsmodels>=0.13.2
hatanaka>=2.8.1
gnssanalysis>=0.0.28
